.container {
  position: relative;
  width: 100%;
  height: 852px;
  overflow: hidden;
  font-family: sans-serif;
}

.backButtonWrapper {
  position: absolute;
  top: 83px;
  left: 32px;
}

.writeTitleWrapper {
  position: absolute;
  width: 185;
  height: 78;
  top: 134px;
  left: 38px;
  opacity: 1;
}

.textAreaWrapper {
    position: absolute;
    width: 315px;
    height: 262px;
    Top: 260px;
    left: 39px;
    border-radius: 5px;
    border:none;
    background-color: #F6F6F6;
    resize: none;
}