.photo {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.photoLink {
  position: relative;
  width: 100px;
  height: 100px;
}
.thumbnail {
  border-style: solid;
  border-width: 2px;
  border-color: #0d9eff;
}

.warning {
  border-style: solid;
  border-width: 2px;
  border-color: #ff9d00;
}

.warningIcon,
.thumbnailIcon {
  margin-left: 6px;
  margin-top: 7px;
  z-index: 1;
  position: absolute;
}
