.container {
  position: relative;
  width: 100%;
  height: 852px;
  overflow: hidden;
  font-family: sans-serif;
}
.dayTravelPhoto {
  display: flex;
  overflow-x: auto;
}

.dayTravelPhoto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 5px;
}

.backButtonWrapper {
    position: absolute;
    Top: 73px;
    Left:22px;
}

.bottomPanel {
    position: absolute;
    top:426px;
    left:39px;
}

.deleteButtonWrapper{
    position: absolute;
    top:4px;
    left:288px;
}

.photoInformation{
    font-size: 16px;
    color:#5B5B5B;
}
.photoInformation a {
    color:#029AFF;
}

.textAreaWrapper {
    position: relative;
    top:21px;
    width: 315px;
    height: 153px;
    border-radius: 5px;
    border:none;
    background-color: #F6F6F6;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
}