.map {
  width: 100vw;        /* 화면 전체 width */
  height: 50%;       /* 화면 전체 height */

  object-fit: cover;   /* 화면 꽉 채우기 */
  object-position: left top;  /* 원하는 부분만 보이도록 */

  z-index: -1;    /* 모든 요소 뒤로 */
  pointer-events: none; /* 클릭 안 가려지게 */
}
