.iconWrapper {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  width: 32px;  /* 지름 32px */
  height: 32px;
  background-color: #AEE6FF; /* 하늘색 */
}
