/* 공통 버튼 wrapper */
.skyIconWrapper, .pinkIconWrapper, .grayIconWrapper{
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  margin-right: 8px; /* 버튼 간격 */
}

.skyIconWrapper {
  width: 32px;  /* 지름 32px */
  height: 32px;
  background-color: #AEE6FF; /* 하늘색 */
}

.pinkIconWrapper {
  width: 32px;  /* 지름 32px */
  height: 32px;
  background-color: #FFDEDE; /* 분홍색 */
}

.grayIconWrapper {
  width: 50px;  /* 지름 32px */
  height: 50px;
  background-color: #3636364D;
  opacity: 70%;
}
.mapBackButton {
  position: absolute;
  top: 16px;     /* 원하는 거리로 조절 */
  left: 16px;
  z-index: 999;  /* 지도보다 위로 */
}

.icon {
  width: 18px;
  height: 18px;
  z-index: 1;
  pointer-events: none; /* 버튼 클릭 방해 안되게 */
  vertical-align: middle; /* ← 추가 */
}
