/* 공통 버튼 wrapper */
.skyIconWrapper, .pinkIconWrapper {
  width: 32px;  /* 지름 32px */
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  margin-right: 8px; /* 버튼 간격 */
}

.skyIconWrapper {
  background-color: #AEE6FF; /* 하늘색 */
}

.pinkIconWrapper {
  background-color: #FFDEDE; /* 분홍색 */
}

.icon {
  width: 18px;
  height: 18px;
  z-index: 1;
  pointer-events: none; /* 버튼 클릭 방해 안되게 */
  vertical-align: middle; /* ← 추가 */
}
