.container {
  position: relative;
  width: 100%;
  height: 852px;
  overflow: hidden;
  font-family: sans-serif;
}


.backButton{
    position: absolute;
    left: 30px;
    top: 83px;
}

.logo {
  display: block;
  margin: 133px auto 0;
  width: 250px;
  height: 150px;
}


.signInForm {
  position: relative;
  padding: 59px 55px 0;
  overflow-y: auto;
}

.idForm {
    position: relative;
}       

.idInput {
    margin-top: 5px;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    border-color: #A9A9A9;
    border-style: solid;
}

.passwordForm {
    margin-top: 26px;
}

.passwordInput {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    border-color: #A9A9A9;
    border-style: solid;
}

.passwordCheckForm {
    margin-top: 27px;
}

.passwordCheckInput {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 49px;
    border-radius: 5px;
    border-color: #A9A9A9;
    border-style: solid;
}

.signInButton {
    margin: 23px auto 0px;
    position: relative;
    width: 108px;
    height: 55px;
    font-size: 20px;
}

.privacyPolicy {
    margin-top: 26px;
    font-size: 15px;
    color: #626161;
}

.privacyPolicy > a {
    text-decoration: underline;
}

.checkPrivacyPolicy {
    margin-top: 11px;
    gap:3px;
}
input[type="radio"] {
  accent-color: #000000; /* 검은색 */
}